[Unit]
Description=Fan Shim Service
After=multi-user.target

[Service]
Type=simple
#WorkingDirectory=/root/devel/fanshim-python/examples
ExecStart=/usr/local/bin/automatic.py --threshold 75 --hysteresis 20 --delay 2 --noled
Restart=on-failure

[Install]
WantedBy=multi-user.target
